p {
    font-size: 18px;
}

.block-inverse-text {
    color: #fff;
}

a.noTextDecoration {
    text-decoration: none;
    color: inherit;
}

/* .block-inverse-text .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
} */


/* .signature {
    font-family: 'Cedarville Cursive', cursive;
} */

.block-inverse-alternate {
    background-color: #43464C;
}

.item-center {
    margin: 0 auto;
}

.featured-list-bordered .featured-list-icon {
    border: 1px solid #424242;
}

.padding-top {
    padding-top: 30px;
}

.block-bg-lightGray {
    background-color: #f6f6f6;
}

.container-small {
    margin: 0 auto 60px;
    max-width: 700px;
}

button.btn.btn-danger {
    background-color: #E84545;
}

button.btn.btn-transparent-outline {
    color: #fff;
    background-color: transparent;
    border: #fff 1px solid;
    font-weight: 600;
}

button.btn.btn-transparent-outline:hover {
    color: #252525;
    transition: .5s;
    background-color: #fff;
}

/* Carousel Fade  */
.carousel-fade .carousel-inner .item {
   transition:opacity 1s linear; 
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.profileImage {
    margin: 0 auto;
}